p {
    text-align: left;
}

:root {
    --hue: 45;
}

.ex-image {
    width: 30%;
    padding: 0;
    overflow-y: auto;
    border: calc(var(--base-unit) / 4) solid hsla(0, 0%, 0%, 1);
}

.img-link {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.two-column {
    grid: auto / 1fr 1fr;
}

audio {
    width: 100%;
}

li {
    border: none;
    padding: 0;
    margin-left: var(--base-unit);
    text-align: left;
}

li::marker {
    content: " -> " !important;
}

@media (orientation: portrait) {
    details>.ex-wrapper {
        padding: 0;
        margin: 0;
        border: none;
        grid: auto / 1fr;
    }
}